[submodule "library/src/main/jni/external/selinux"]
	path = library/src/main/jni/external/selinux
	url = https://android.googlesource.com/platform/external/selinux
[submodule "library/src/main/jni/external/pcre"]
	path = library/src/main/jni/external/pcre
	url = https://android.googlesource.com/platform/external/pcre
